body
{
    background: black;
    color: white;
}

div
{
    font-size: 30px;
}

h1
{
    text-align: center;
    font-size: 70px;
    font-family: fantasy;
    background-color: red;
    color:yellow;  

}

.food-pic
{
    width: 600px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
    border: 10px solid yellow;
    border-radius: 50%;
    
    
}

.food-list 
{
    text-align: center;
    color: yellow;
    
    
}
.box
{
    box-sizing: border-box;
    border: 20px solid red;
    margin: 10px;
    width: 960px;
    padding: 10px;
    margin-left: 800px;
    font-size: 80px;
}


button
{
    
    background-color: yellow;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
        

}

.Layout-text
{
    font-size: 30px;
    color: yellow;

    

}
.homepage-pic 
{
    width: 800px;
    height: 500px;
    display: block;
    margin: auto;
    border: 10px solid yellow;
    border-radius: 50%;
    

}

.Ingredients-title
{
    border:10px solid yellow;
    box-sizing: border-box;
    max-width: 250px;
    
    

    
    
}