body
{
    background: black;
    color: white;
}

div
{
    font-size: 30px;
}

h1
{
    text-align: center;
    font-size: 70px;
    font-family: fantasy;
    background-color: red;
    color:yellow;  

}

.ai-food
{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.food-list
{
    text-align: center;
    
}

button
{
    
    background-color: yellow;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
        

}

.Layout-text
{
    font-size: 30px;
    color: yellow;

    

}